ProductsMyDemo/Service References/ServiceReference2/ProjectService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ByteartRetail.com/LoanConfirmationDataObject.xsd" elementFormDefault="qualified" targetNamespace="http://www.ByteartRetail.com/LoanConfirmationDataObject.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoanConfirmationDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoanAmount" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ConfirmDate" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoanConfirmationDataObject" nillable="true" type="tns:LoanConfirmationDataObject" />
</xs:schema>