ProductsMyDemo/Service References/ServiceReference2/ProjectService14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.ByteartRetail.com/QuerySpec.xsd" elementFormDefault="qualified" targetNamespace="http://www.ByteartRetail.com/QuerySpec.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pagination">
    <xs:sequence>
      <xs:element name="PageNumber" type="xs:int" />
      <xs:element name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPages" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pagination" nillable="true" type="tns:Pagination" />
</xs:schema>